:root {
    --color-base-100: #faf9f6;
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #7b13d6;
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: #f91616;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #2e9959;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #40098e;
    --color-info-content: #ebf3f4;
    --color-success: #2e9959;
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #f9c900;
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar * {
    animation: slideInFromLeft 0.8s ease-in-out;
}

.navbar img {
    width: auto;
    height: 100%;
}

/*VBVJOR*/
.navbar {
    background-image: linear-gradient(
        65deg,
        #7b13d699,
        #40098e99,
        #2e995999,
        #f9c90099,
        #f9161699
    );
}

.divider::before {
    background-image: linear-gradient(135deg, var(--color-primary), #ba1576);
}

.divider::after {
    background-image: linear-gradient(135deg, #ba1576, var(--color-secondary));
}

body {
    background: var(--bg);
    min-height: 100vh;
    width: 100%;
}

main ul {
    list-style-type: none;
}

.tooltip-right::after,
.tooltip-right::before{
    z-index: 1001;
}
