@font-face {
    font-family: "Config";
    src: url("../fonts/Config-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Config";
    src: url("../fonts/Config-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Config";
    src: url("../fonts/Config-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Config";
    src: url("../fonts/Config-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-base-100: #faf9f6;
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #7b13d6;
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: #f91616;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #2e9959;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: #ebf3f4;
    --color-info-content: #ebf3f4;
    --color-success: #2e9959;
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #f4ee06;
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar * {
    animation: slideInFromLeft 0.8s ease-in-out;
}

/*VBVJOR*/
.navbar {
    background-image: linear-gradient(65deg, #7b13d6 66%, #f91616);
}

.divider::before {
    background-image: linear-gradient(135deg, var(--color-primary), #ba1576);
}

.divider::after {
    background-image: linear-gradient(135deg, #ba1576, var(--color-secondary));
}

body {
    background: var(--bg);
    font-family:
        "Config",
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif;
}

.fab {
    bottom: 4.5rem;
}
