:root {
    --txt: #444444;
    --bd: #333333;
    --bg: white;
    --primary: #7b13d6;
    --secondary: #f91616;
}

body {
    font-family: Calibri, 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: var(--txt);
    background: var(--bg);
    max-width: 80rem;
    width: 95%;
    margin: 2em auto;
    margin-top: 1em;
    line-height: 1.25em;
}

h1 {
    display: inline-block;
    margin-bottom: 0.25em;
}

h2 {
    font-size: 1rem;
    display: inline;
}

ol {
    padding-left: 5ch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-block-start: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--primary)
}

a:visited {
    color: var(--secondary)
}

a:hover {
    opacity: 0.8
}

small {
    padding-top: 0.25rem;
    font-size: 0.95rem;
    color: var(--txt);
}

small>a:link,
small>a:visited {
    color: var(--txt);
}

.feed-list {
    display: flex;
    flex-wrap: wrap;
    border: 0;
}

.feed-details {
    flex-wrap: wrap;
}

.feed-card {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    gap: 5px;
    height: 1em;
}

.feed-list div {
    padding: 0.5em 0.5em 0.35em 0.5em;
    text-align: center;
    vertical-align: middle;
    border: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.feed-list img {
    margin-right: 0.2rem;
}

.italique {
    font-style: italic;
}

.center {
    margin-top: 20px;
    margin: auto;
}

.liens-lfi {
    display: flex;
    justify-content: center;
    gap: 10%;
}

summary {
    cursor: pointer;
}

.liste-articles summary::marker {
    font-size: 1.75rem;
}

header a, header a:visited {
    color: var(--primary)
}

hr {
    border: none;
    height: 0.3em; /* Adjust the height of the hr element */
    background-image: linear-gradient(to right, #7b13d6, #f91616); /* Adjust the colors as needed */
}

@media only screen and (max-width: 480px) {
    header {
        display: none;
    }
    * {
        font-size: 20px;
    }
    body {
        margin-top: 5px;
    }
}