:root {
    --txt: #444444;
    --bd: #333333;
    --bg: white;
    --primary: #7b13d6;
    --secondary: #f91616;
    --ilb-bg: #EBF3F4;
    --ilb-text: #390080;
    --action-pop-bg: #F4ED0F;
}

body {
    font-family: Calibri, 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    color: var(--txt);
    background: var(--bg);
    max-width: 80rem;
    width: 95%;
    margin: 2em auto;
    margin-top: 0;
    line-height: 1.25em;
}

h1 {
    display: inline-block;
    margin-bottom: 0.25em;
    font-size: 1.5em;
}

h2 {
    font-size: 1rem;
    display: inline;
}

ol {
    padding-left: 5ch;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-block-start: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--primary)
}

a:visited {
    color: var(--secondary)
}

a:hover {
    opacity: 0.8
}

small {
    padding-top: 0.25rem;
    font-size: 0.95rem;
    color: var(--txt);
}

small>a:link,
small>a:visited {
    color: var(--txt);
}

.feed-list {
    display: flex;
    flex-wrap: wrap;
    border: 0;
}

.feed-details {
    flex-wrap: wrap;
    row-gap: 0.5em;
}

.feed-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 0.7em;
    font-weight: bold;
}

#feed-list div {
    padding: 0.5em 0.5em 0.35em 0.5em;
    text-align: center;
    vertical-align: middle;
    border: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#feed-list img {
    margin-right: 0.2rem;
}

.center {
    margin-top: 20px;
    margin: auto;
}

.feed-details a, .feed-details a:visited {
    color: var(--primary)
}

.liens-lfi {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    row-gap: 0.6em;
}

.liens-lfi a {
    display: inline-block;
    flex: 1;
    text-align: center;
    padding: 0.5em 1em;
    transition: background-color 0.3s, color 0.3s;
    background-image: linear-gradient(135deg, var(--primary), var(--secondary));
    color: white;
    border-radius: 15px;
    white-space: nowrap;
}

#feed-list summary::marker {
    content: none;
    font-weight: bold;
    position: relative;
}
#feed-list summary {
    cursor: pointer;
    font-weight: bold;
}

summary {
    cursor: pointer;
}

#sources {
    text-align: center;
}

.article-source {
    padding: 0;
}

.article-source a {
    display: flex;
    gap: 0.2em;
    align-items: center;
}

.article-source a * {
    padding: 0;
    margin: 0;
}

.article-source a I {
    height: 21px;
}

.liens-lfi img {
    height: 20px; 
    width: 20px;
    margin-right: 0.5em;
}

.liens-lfi a * {
    vertical-align: middle;
}

.liste-articles summary::marker {
    font-size: 1.75rem;
    vertical-align: middle;
}

#random-emoji {
    margin-right: 0.2em;
}

#title {
    font-size: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 2em;
}

#action-pop img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.liens-lfi #ilb {
    background-color: var(--ilb-bg);
    color: var(--ilb-text);
    background-image: var(--ilb-bg);
}

#action-pop {
    background-color: var(--action-pop-bg);
    background-image: none;
    color: black;
}

hr {
    border: none;
    height: 0.3em; /* Adjust the height of the hr element */
    background-image: linear-gradient(135deg, #7b13d6, #f91616); /* Adjust the colors as needed */
}

#install-button {
    background-image: none;
    display: none;
    background-color: #2e9959;
}

@media only screen and (max-width: 480px) {
    .article-link {
        font-size: 1.2em;
    }

    .article-source a I {
        font-size: 1.15rem;
    }

    #title {
        font-size: 2em;
    }

    #feed-list summary::marker {
        content: '+ ';
    }

    .liste-articles summary::marker {
        font-size: 1.3rem;
    }

    .article-source {
        padding-top: 0.1em;
    }

    #sources {
        text-align: left;
    }

    #install-button {
        display: inline;
    }

    #action-pop img {
        margin: 0;
    }

    .liens-lfi {
        gap: 0.6em;
        row-gap: 0.6em;
    }

    .liens-lfi * {
        height: 1.5rem;
    }
}

@media (display-mode: standalone), (display-mode: fullscreen) {
    #install-button {
        display: none;
    }
}