<footer class="footer bg-primary text-neutral-content p-4">
    <aside class="text-base-100 flex flex-row items-center gap-2">
        <a class="text-base-100 link-hover" href="/sources.html"
            >Liste des sources</a
        >
        <span>&middot;</span>
        <a class="text-base-100 link-hover" href="/feed.xml">Flux RSS</a>
        <span>&middot;</span>
        <a
            class="text-base-100 link-hover"
            href="https://github.com/haysberg/gazette"
            >Code source</a
        >
    </aside>
</footer>
