<footer class="maxwidth">
    <div id="footer-links">
        {% if plus is defined and plus %}
        <a id="bouton-plus" href="/plus.html">Voir les articles plus anciens</a>
        {% else %}
        <a id="bouton-plus" href="/">Voir les articles plus récents</a>
        {% endif %}
        <a href="https://github.com/haysberg/gazette">Code source</a>
    </div>
    <p>
        <I>
            La gazette insoumise est un site permettant de regrouper les dernières actualités de la gauche de rupture et
            des
            luttes en France et dans le monde. Ce site est disponible en source ouverte sous licence libre, ce qui veut
            dire
            que le code source est disponible publiquement, et que vous pouvez modifier et redistribuer cette
            application. <B>Le site n'est pas affilié à la France Insoumise.</B>
        </I>
    </p>
</footer>