<header>
    <h1 id="title"><span id="random-emoji"></span>Gazette Insoumise</h1>
    <hr style="margin-top: 0;">
    <div class="liens-lfi">
        <a href="https://programme.lafranceinsoumise.fr/" id="programme-btn" target="_blank" referrerpolicy="origin">
            <img loading="lazy" aria-label="Le programme" style="height: auto;" src="/static/img/programme.webp">
        </a>
        <a id="action-pop" href="https://actionpopulaire.fr/" target="_blank" referrerpolicy="origin">
            <img id="logo-ap" loading="lazy" aria-label="Action Populaire" src="/static/img/action-populaire_small.svg">
        </a>
        <a id="amfis" href="https://amfis.fr/" target="_blank" referrerpolicy="origin">
            <img loading="lazy" aria-label="Amfis 2025" style="height: auto;" src="/static/img/amfis_cropped.webp">
        </a>
        <a id="ilb" href="https://institutlaboetie.fr/" target="_blank" referrerpolicy="origin">
            <img aria-label="Institut la Boétie" src="/static/img/ilbcombo.webp" loading="lazy">
        </a>
        <a id="install-button"><B>📲 Installer</B></a>
    </div>
    <hr>
    <details id="feed-list" open>
        <summary id="sources">
            <h2>Liste des sources</h2>
        </summary>
        <div class="feed-details">
            {% for feed in feeds %}
            {% include "source.html" %}
            {% endfor %}
        </div>
    </details>
</header>