<header>
    <div id="title-container">
        <img loading="lazy" role="presentation" alt="Logo gazette LFI" src="/icons/android_chrome_192x192.webp">
        <h1 id="title">Gazette Insoumise</h1>
    </div>
    <div class="maxwidth autopad">
        <div id="liens">
            <div class="liens-lfi">
                <a href="https://programme.lafranceinsoumise.fr/" id="programme-btn" target="_blank"
                    referrerpolicy="origin">
                    <img loading="lazy" aria-label="Le programme" style="height: auto;" src="/img/programme.webp">
                </a>
                <a id="action-pop" href="https://actionpopulaire.fr/" target="_blank" referrerpolicy="origin">
                    <img id="logo-ap" loading="lazy" aria-label="Action Populaire"
                        src="/img/action-populaire_small.svg">
                </a>
                <a id="amfis" href="https://amfis.fr/" target="_blank" referrerpolicy="origin">
                    <img loading="lazy" aria-label="Amfis 2025" style="height: auto;" src="/img/amfis2025.webp">
                </a>
                <a id="ilb" href="https://institutlaboetie.fr/" target="_blank" referrerpolicy="origin">
                    <img aria-label="Institut la Boétie" src="/img/ilbcombo.webp" loading="lazy">
                </a>
                <a id="install-button"><B>📲 Installer</B></a>
            </div>
            <hr>
        </div>
    </div>
</header>