<div class="navbar sticky top-0 backdrop-blur-sm drop-shadow-lg z-1000 mb-3">
    <a href="/" class="flex-1 flex items-center gap-x-2">
        <div class="w-10 rounded-full">
            <img
                loading="lazy"
                role="presentation"
                alt="Logo gazette LFI"
                src="/icons/android_chrome_192x192.webp"
                class="w-auto h-full"
            />
        </div>
        <h1 class="text-base-100 text-3xl font-black">Gazette Insoumise</h1>
    </a>
</div>
<div class="fab drop-shadow-xl">
    <div tabindex="0" role="button" class="btn btn-xl btn-success">
        <svg
            aria-label="New"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="white"
            class="size-6"
        >
            <path
                d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
            />
        </svg>
    </div>

    <button class="btn btn-xl btn-secondary">
        <a
            href="https://lafranceinsoumise.fr/2025/04/09/elections-municipales-2026/"
            target="_blank"
            referrerpolicy="origin"
            class="text-base-100"
            >Municipales</a
        >
    </button>
    <button class="btn btn-xl btn-primary">
        <a
            href="https://programme.lafranceinsoumise.fr/"
            id="programme-btn"
            target="_blank"
            referrerpolicy="origin"
            class="text-base-100"
            >Le programme</a
        >
    </button>
    <button class="btn btn-xl btn-info">
        <a
            id="ilb"
            href="https://institutlaboetie.fr/"
            target="_blank"
            referrerpolicy="origin"
            class="text-base-100"
            >Institut La Boétie</a
        >
    </button>
    <button class="btn btn-xl btn-warning text-base-content">
        <a
            id="action-pop"
            href="https://actionpopulaire.fr/"
            target="_blank"
            referrerpolicy="origin"
            class="text-black"
            >Action Populaire</a
        >
    </button>
    <button
        class="btn btn-xl btn-success text-base-content text-base-100 text-white"
        id="install-button"
    >
        Installer l'appli
    </button>
</div>
